<!DOCTYPE html>
<head>
    <title>Resposta Churn</title>
    <script>
    
    </script>
</head>
<body style="background-color:rgb(2, 2, 2)">  
    <div class="p-3 bg-image" style="background-image: url('https://raw.githubusercontent.com/Masterx-AI/Project_Attrition_Analysis_for_IBM/main/ibm.jpg');height: 200px;"></div>

    <div class="card mx-4 mx-md-5 shadow-4-strong" 
        style="margin-top: -100px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);">
        <div class="card-body py-4 px-md-4">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <h2 class="fw-bold mb-5">Análise de Atrito IBM</h2>
                    <div>
                        {% if predicao == 0 %}
                            <div style="color: #047a0e; font-weight: bold; font-size: 20px;">Sem Atrito!</div>
                        {% else %}
                            <div style="color: #c2101b;  font-weight: bold; font-size: 20px;">Atrito!</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>